<div class="flex justify-content-center flex-wrap">
    <div id="main" style="width: 100%; max-width: 960px;">
        <div class="m-4">
            <div class="my-4">
                <h4 style="color: #ddd; margin-bottom: -22px;">DASHBOARD</h4>
                <h2 style="font-weight: 600;">PROSPECTOS</h2>
            </div>
            <div class="surface-section px-2 pt-4 md:px-6 lg:px-8 text-center">
                <div class="grid">
                    <div class="col-12 md:col-4 mb-2 px-5">
                        <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px; width: 100%;">
                            <p-knob></p-knob>
                            <div class="text-900 text-xl m-2 font-medium">Em Fila</div>
                        </span>
                    </div>
                    <div class="col-12 md:col-4 mb-2 px-5">
                        <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px; width: 100%;">
                            <p-knob></p-knob>
                            <div class="text-900 text-xl m-2 font-medium">Analisados</div>
                        </span>
                    </div>
                    <div class="col-12 md:col-4 mb-2 px-5">
                        <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px; width: 100%;">
                            <p-knob></p-knob>
                            <div class="text-900 text-xl m-2 font-medium">Total</div>
                        </span>
                    </div>
                </div>
            </div>
            <div class="flex justify-content-between flex-wrap px-6">
                <div class="flex align-items-center justify-content-center w-4rem h-4rem font-bold border-round m-2">
                    <p-button label="Cadastrar" icon="pi pi-sign-in" styleClass="p-button-rounded p-button-secondary" (click)="showAddDialog()"></p-button>
                </div>
                <div class="flex align-items-center justify-content-center w-4rem h-4rem font-bold border-round m-2">
                    <p-button label="Analisar" icon="pi pi-sign-out" iconPos="right" styleClass="p-button-rounded"></p-button>
                </div>
            </div>
            <div class="card flex flex-column m-4">
                <p-timeline [value]="queue" layout="horizontal" align="top">
                    <ng-template pTemplate="content" let-prospects>
                        {{ prospects }}
                    </ng-template>
                </p-timeline>
            </div>
        </div>
        <div class="surface-section m-6">
            <div class="text-center">
                <h4 style="color: #555;">Cadastros mais Recentes</h4>
            </div>
            <div class="card">
                <p-table [value]="preRegistrations" [tableStyle]="{ 'min-width': '50rem' }">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>#</th>
                            <th>MCC</th>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Ações</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-register>
                        <tr>
                            <td>{{ register.id }}</td>
                            <td>{{ register.mcCode.programType }}</td>
                            <td>{{ register.name }}</td>
                            <td>{{ register.email }}</td>
                            <td>
                                <p-button icon="pi pi-pencil" styleClass="p-button-rounded p-button-secondary"></p-button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>

<div class="card flex justify-content-center">
    <p-dialog id="form-dialog" header="Prospecto" [(visible)]="addVisible" [modal]="true" [style]="{ width:'100%', 'max-width':'960px', height:'80%'}">
        <ng-template pTemplate="header">
            <span class="text-xl font-bold">Cadastrar Prospecto</span>
        </ng-template>
        <form [formGroup]="formGroup" class="mt-2">
            <div class="field grid">
                <label for="registration-type" class="col-12 mb-2 md:col-4 md:mb-0">Categoria do Comerciante (MCC)</label>
                <div class="col-12 md:col-8">
                    <p-dropdown [options]="mcCodes" formControlName="selectedMCCode" optionLabel="combined" [filter]="true"
                        filterBy="combined" [showClear]="true" placeholder="Selecione um MCC" [style]="{width: '100%'}">
                        <ng-template pTemplate="selectedMCCode">
                            <div class="flex align-items-center gap-2" *ngIf="selectedMCCode">
                                <div style="max-width: 300px; word-wrap: break-word;">{{ selectedMCCode.combined }}</div>
                            </div>
                        </ng-template>
                        <ng-template let-mcCode pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div style="max-width: 300px; word-wrap: break-word;">{{ mcCode.combined }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
            </div>
            <div class="field grid">
                <label for="registration-type" class="col-12 mb-2 md:col-4 md:mb-0">Tipo de Registro</label>
                <div class="col-12 md:col-8">
                    <p-dropdown [options]="registrationTypes" formControlName="selectedRegistrationType" optionLabel="label" [style]="{width: '100%'}" (onChange)="onRegistrationTypeChange($event)"></p-dropdown>
                </div>
            </div>
            <div class="field grid">
                <label for="registration-type" class="col-12 mb-2 md:col-4 md:mb-0">{{ selectedRegistrationType?.document }}</label>
                <div class="col-12 md:col-8">
                    <input type="text" pInputText formControlName="inputDocumentNumber" [style]="{width: '100%'}" />
                </div>
            </div>
            <div class="field grid">
                <label for="registration-type" class="col-12 mb-2 md:col-4 md:mb-0">{{ selectedRegistrationType.name }}</label>
                <div class="col-12 md:col-8">
                    <input type="text" pInputText formControlName="inputNome" [style]="{width: '100%'}"/>
                </div>
            </div>
            <div *ngFor="let field of attributes | keyvalue" class="field grid">
                <label for="{{ field.value.label }}" class="col-12 mb-2 md:col-4 md:mb-0">{{ field.value.label }}</label>
                <div *ngIf="field.value.type === 'select'" class="col-12 md:col-8">
                    <p-dropdown formControlName="{{ field.key }}" [options]="field.value.options" optionLabel="label" [style]="{width: '100%'}" ></p-dropdown>
                </div>
                <div *ngIf="field.value.type === 'date'" class="col-12 md:col-8">
                    <p-calendar formControlName="{{ field.key }}" [style]="{width: '100%'}" ></p-calendar>
                </div>
                <div *ngIf="field.value.type === 'text'" class="col-12 md:col-8">
                    <input pInputText formControlName="{{ field.key }}" [style]="{width: '100%'}" />
                </div>
            </div>
        </form>
    </p-dialog>
</div>